*{ padding: 0;
    margin: 0;

box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    color: palevioletred;
    font-size: 40px;
    line-height: 80px;
padding: 0 100px;
font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}
nav ul li a{
    color: black;
    font-size: 18px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;

}
.checkbtn{
    font-size: 31px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
display: none;

}
#check{
    display: none;
}
@media only screen and (max-width: 410px){
    label.logo{
        display: block;
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
    
}
p,ul{
    padding: 10px;
    margin: 10px;
}
footer{
    padding: 20px;
    display: block;
    text-align: left;
  margin:  10px;
  background-color: white;
  
  object-position: bottom;

}